.Cards{
    width: 250px;
    background-color: #fffefd;
    margin: 15px;
    padding-left: 10px;
    padding: 10px;
    border-radius: 8px;
    color: rgb(12, 8, 8);
}
button{
    cursor: pointer;
}
.Cards img{
    width: 80%;
    height: 150px;
    display: block;
    margin: 10px auto;
}