.admin{
    display: flex;
    justify-content: space-around;
}
.asideNav{
    width: 100%;
    padding: 15px;
    color: cornsilk;
    background-color: rgb(56, 42, 24);
}
.asideNav h4{
    margin-left: 10px;
    cursor: pointer;
}
.asideNav button{
    padding: 5px;
}
.asideDetail{
    width: 100%;
    background-color: burlywood;
    color: rgb(19, 18, 18); 
}
