.admin{
    display: flex;
    justify-content: space-around;
}
.asideNav{
    width: 100%;
    padding: 15px;
    border: 2px solid black;
}
.asideNav h4{
    margin-left: 10px;
    cursor: pointer;
}
.asideDetail{
    width: 100%;
    padding: 15px;
    border: 2px solid red;
}