.manageProduct{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid wheat;
}
table{
    width: 100%;
    margin: 10px auto;
}

tr,th,td{
    text-align: center;
}
.manageProduct table thead tr th{
    font-size: 25px;
    text-align: center;
    color: cornsilk;
    border: 2px solid rgb(24, 23, 23);
    padding: 10px;
}