.checkoutProduct{

    width: 800px;
    margin: 50px auto;
    padding: 10px;
    background-color: rgb(243, 240, 236);
    border: 2px solid wheat;
}
.checkoutProduct button{
    margin-top: 10px;
    font-size: 22px;
    display: block;
    margin: 0px auto;
     
}
table{
    width: 100%;
    margin: 10px auto;
}

 tr td{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
tr th{
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    color: black;
}