.login{
    width: 390px;
    background-color: #e4f1f5;
    color: rgb(20, 20, 20);
    border: 2px solid black;
    padding: 8px;
    margin: 20px auto;

}
.login input{
    width: 90%;
    height: 60px;
    border: 1px solid #1b1b1a;
    margin-top: 4px;
    text-align: center;
}

.login button{
    color: white;
    height: 50px;
    font-size: 28px;
    background-color: #f72b07;
    border-radius: 14px;
    margin-top: 13px;
    margin-bottom: 8px;
    border: 1px solid rgb(211, 117, 88);
    cursor: pointer;
}
